body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    display: flex;
    flex-direction: column;
    margin: 0; 
    min-height: 100vh;
    /*font-size: 18px;*/
    box-sizing: border-box;
    flex: 1;
}


.header{
    display: flex;
    background: rgb(16, 16, 83);
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    color: #F9FAF8;
    font-size: 18px;
}



.container{
display: flex;
flex-direction: row; 
flex-wrap: wrap; 
max-width: 1200px;
flex: 1;
justify-content: space-between;

padding: 15px;
gap: 15px;
}


ul{
    list-style: none;
    display: flex;
    gap: 28px;
    align-items: center;
    font-size: 18px;
    padding: 0;
}

li:hover{
    font-weight: bolder;
    text-shadow: 2px 2px rgb(134, 134, 134);
    transition: 0.30s;
}

.hero{
    display: flex;
    justify-content: center;
    background: rgb(16,16,83);
    padding-bottom: 35px;
    flex: 1;
    color: #F9FAF8;
}


#hero-title{
    font-size: 48px;
}

#hero-para{
    font-size: 20px;
}

.cover-photo{
    opacity: 0.86;
    border-radius: 9px;
    flex: 1;
    width: 200px;
    height: auto;
}

.cover-photo:hover{
    opacity: 1;
    transition: 0.15s;
}


h1{
    margin: 0;
    padding: 0;
    font-size: auto;   
}

button{
    background-color: rgb(55, 199, 243);
    color: #F9FAF8;
    border: none;
    border-radius: 17px;
    height: 50px;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 2px 3px rgb(215, 215, 215);
}

button:hover{
    background-color: rgb(130, 226, 255);
    transition: 0.30s;
}
button:active{
    background-color: rgb(255, 255, 255);
    color: rgb(16,16,83);
    transition: 0.20s;

}


#logo{
    align-self: center;
}

#logo:hover{
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 2px 2px rgb(134, 134, 134);
    transition: 0.55s;
}


.left-welcome{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 30px;
    max-width: 70%;
}

.cover{
    display: flex;
    flex: 1;
    max-width: 450px;
}

.main-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 25px;
    justify-content: center;
    align-items: center;
    color: rgb(16, 16, 83);
    font-size: 18px;
    margin: 25px 0 0 0;
}


.img-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 35px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-img{
    border: 4px solid rgb(154, 231, 255);
    height: 200px;
    width: 200px;
    border-radius: 15px;
    opacity: 0.90;
}

.info-img:hover{
    opacity: 1;
    height: 250px;
    width: 250px;
    transition: 0.8s;
    box-shadow: 5px 4px rgb(179, 179, 179);

}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 75px 35px;
    margin: 10px 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgb(210, 199, 189) 100%) ;
    opacity: 0.70;
}

.text{
    display: flex;
    flex: 1;
    max-width: 1000px;
    flex-direction: column;
    gap: 12px;
}


.quote{
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
}

.main-action{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    padding: 35px 25px;
    margin: 55px 0;
    background-color: rgb(16,16,83);
    gap: 24px;
    border-radius: 24px;
    opacity: 0.90;
}


h3.action-text{
    font-size: 24px;
    color: #F9FAF8;
    margin:0;
    padding-bottom: 7px;
}

p.action-text{
    font-size: 15px;
    margin: 0;
    color: #F9FAF8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgb(202, 202, 202) 100%) ;
    margin-top: 55px;
    opacity: 0.70;
}

a{
    text-decoration: none;
    color: rgb(16,16,83);
    font-weight: bold;
}

.footer-text{
}