body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    display: flex;
    flex-direction: column;
    margin: 0; 
    min-height: 100vh;
    color: #F9FAF8;;
    font-size: 18px;
    box-sizing: border-box;
    flex: 1;
}

.header{
    display: flex;
    background: rgb(16, 16, 83);
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


.container{
display: flex;
max-width: 1200px;
flex: 1;
justify-content: space-between;
padding: 15px;
}


ul{
    list-style: none;
    display: flex;
    gap: 28px;
    align-items: center;
    font-size: 18px;
}

li:hover{
    font-weight: bolder;
    text-shadow: 2px 2px rgb(134, 134, 134);
    transition: 0.30s;
}

.hero{
    display: flex;
    justify-content: center;
    background: rgb(16,16,83);
    padding-bottom: 100px;
    flex: 1;
}


#hero-title{
    font-size: 48px;
}

p.hero-para{
    color: #e5e7eb;
}

.cover-photo{
    max-width: 100%;
    max-height: 290px;
    flex: 1;
    opacity: 0.86;
    border-radius: 9px;
}

.cover-photo:hover{
    opacity: 1;
    transition: 0.15s;
}


h1{
    margin: 0;
    padding: 0;
}

button{
    background-color: rgb(55, 199, 243);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 17px;
    height: 50px;
    width: 100px;
    font: 20px arial, white;
    font-weight: bold;
    box-shadow: 2px 2px rgb(215, 215, 215)
}

button:hover{
    background-color: rgb(130, 226, 255);
    transition: 0.30s;
}
button:active{
    background-color: rgb(255, 255, 255);
    color: rgb(16,16,83);
    transition: 0.20s;

}

#logo{
    align-self: center;
}

#logo:hover{
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 2px 2px rgb(134, 134, 134);
    transition: 0.55s;
}


.left-welcome{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 30px;
    max-width: 70%;
}

.cover{
    display: flex;
    flex: 1;
    max-width: 450px;
}